<div class="container">
  <div class="row p-5">
    <div class="card border-0 shadow px-5 py-3">
      <h1 class="pb-4">Password Generator</h1>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control px-4"
          id="floatingInput"
          placeholder="name@example.com"
          (input)="onLengthChange($any($event.target).value)"
        />
        <label for="floatingInput" class="px-4">Length</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkLetters"
          (change)="onLettersChange()"
        />
        <label class="form-check-label" for="checkLetters"> Use Letters </label>
      </div>

      <div class="form-check py-2">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkNumbers"
          (change)="onNumbersChange()"
        />
        <label class="form-check-label" for="checkNumbers"> Use Numbers </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkSymbols"
          (change)="onSymbolsChange()"
        />
        <label class="form-check-label" for="checkSymbols"> Use Symbols </label>
      </div>

      <button
        [disabled]="
          !(lenght && (includeLetters || includeNumbers || includeSymblos))
        "
        class="btn btn-primary my-4"
        (click)="onGenerate()"
      >
        Generate!
      </button>

      <div
        class="form-floating mx-auto mb-3 password-input"
        *ngIf="generatedPassword"
      >
        <input
          type="text"
          class="form-control px-4 border-end border-start mx-auto border-0"
          id="floatingInput"
          readonly
          placeholder="name@example.com"
          [value]="generatedPassword"
        />
        <label for="floatingInput" class="px-4">Your Password</label>
      </div>
    </div>
  </div>
</div>
